*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foro{
    background: white;
}

.contenido_textos .parrafos_acerca_de{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.contenido_textos p.parrafo_acerca_de{
    /*padding: 0px 0px 30px 15px;*/
    margin-top: 5px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: justify;
}