 .u-sheet-1 {
  min-height: 788px;
}

 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-text-2 {
  margin: 38px auto 0;
}

.u-shape-1 {
  height: 193px;
  background-image: none;
  margin-top: 138px;
  margin-bottom: 0;
}

.u-list-1 {
  grid-template-rows: auto auto;
  width: 1140px;
  margin: -299px auto 0;
}

.u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 215px;
  grid-gap: 30px;
}

.u-container-layout-1 {
  padding: 20px;
}

.u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("../images/Gal.PNG");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-text-4 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  width: 210px;
  margin: 16px auto 0;
}

.u-text-5 {
  margin: 14px 2px 0 0;
}

..u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-list-item-2 {
  background-image: none;
}

.u-container-layout-2 {
  padding: 20px;
}

.u-image-2 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("../images/Clara.PNG");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-text-7 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  width: 210px;
  margin: 16px auto 0;
}

.u-text-8 {
  margin: 14px 2px 0 0;
}

.u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-container-layout-3 {
  padding: 20px;
}

.u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("../images/ec0089cd0a78e1a7b8d49639b74ca3fe42e48357cec1adea4630d298b5dd6f2258ed0c68a44d2c7f41dde004eaf6e580a9a8fee5c79fde3803de21_1280.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-text-10 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  width: 210px;
  margin: 16px auto 0;
}

.u-text-11 {
  margin: 14px 2px 0 0;
}

.u-btn-3 {
  background-image: none;
  border-style: none;
  margin: 76px auto 0;
  padding: 0;
}

.u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-text-12 {
  margin: 20px auto 60px;
}

.u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-text-2 {
    margin-top: 39px;
  }

  .u-list-1 {
    width: 940px;
  }

  .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 177px;
  }

  .u-text-4 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-text-5 {
    margin-right: 0;
  }

  .u-text-7 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-text-8 {
    margin-right: 0;
  }

  .u-text-10 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-text-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-text-2 {
    margin-top: 415px;
  }

  .u-shape-1 {
    margin-top: -239px;
  }

  .u-list-1 {
    width: 720px;
  }

  .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 407px;
  }

  .u-text-12 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-text-2 {
    margin-top: 792px;
  }

  .u-shape-1 {
    margin-top: -615px;
  }

  .u-list-1 {
    width: 540px;
  }

  u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-text-1 {
    font-size: 2.23529rem;
  }

  .u-text-2 {
    margin-top: 828px;
  }

  .u-shape-1 {
    margin-top: -651px;
  }

  .u-list-1 {
    width: 340px;
  }

  .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-text-3 {
    font-size: 1.88235rem;
  }

  .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-text-6 {
    font-size: 1.88235rem;
  }

  .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-text-9 {
    font-size: 1.88235rem;
  }
}