*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.titulo{
    color: #64a273;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* header */

header{
    width: 100%;
    height: 600px;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(20, 89%, 58%, 0.5), hsla(44, 98%, 59%, 0.5)), url(../img/papa1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(20, 89%, 58%, 0.5), hsla(44, 98%, 59%, 0.5)), url(../img/papa1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0 0;

}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
    background: #ff7300
}



/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Century Gothic', 'sans-serif';
}

header{
    width: 100%;
    padding: 40px;
    color: white;
    text-align: center;
    background: #ec7c26;
}

footer{
    background: #ec7c26;
}

footer h3{
    list-style: none;
    background: #ec7c26;
    text-align: center;
    color: white;
}

footer ul li{
    display: inline;
    padding: 15px;
    transition: all ease-in-out 250ms;
}

#autores{
    display: inline;
    padding: auto;
    color: white;
    text-decoration: none;
}

#autores:hover{
    background: #ffab66 ;
}

nav ul{
    list-style: none;
    background: #f59622;
}

nav ul li{
    display: inline;
    padding: 5px;
    transition: all ease-in-out 250ms;
}

ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background: #ffab66;
}

.parrafo{
    text-align: center;
    padding: 10px;
}*/

